name: build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@v1

    - name: Generate deployment package
      run: zip -r deploy.zip . -x '*.git*'

    - name: Get Time
      id: time
      uses: nanzm/get-time-action@v1.0
      with:
        timeZone: 10
        format: 'YYYYMMDDHHmmss'

    - name: Deploy to EB
      uses: einaregilsson/beanstalk-deploy@v1.0
      with:
        aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        application_name: ${{ secrets.AWS_DEV_APP_NAME }}
        environment_name: ${{ secrets.AWS_DEV_ENV_NAME }}
        version_label: "${{ steps.time.outputs.time }}"
        region: ${{ secrets.AWS_DEV_REGION }}
        deployment_package: deploy.zip
        wait_for_environment_recovery: 60
